/* 
  Sign up Form and Sign in form.
  Devices with a width larger than 100 pixels 
*/
@media (min-width: 100px) {
  .Row {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-family: "Dosis", sans-serif;
  }
}

/* 
  Sign up Form and Sign in form.
  Devices with a width larger than 768 pixels 
*/
@media (min-width: 768px) {
  .Row {
    margin-top: 60px;
    width: 80%;
  }
}

/* 
  Sign up Form and Sign in form.
  Devices with a width larger than 992 pixels 
*/
@media (min-width: 992px) {
  .Row {
    margin-top: 120px;
    width: 85%;
  }
}

/* 
  Sign up Form and Sign in form.
  Devices with a width larger than 1500 pixels  
*/
@media (min-width: 1500px) {
  .Row {
    margin-top: 150px;
    width: 90%;
  }
}

.Col {
  background-color: #ffffff;
  border: 1.5px solid #dadadf;
  border-radius: 5px;
}

.Header {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #49a6e9;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.AboutBorderBottom {
  border-top: 2px solid #547799;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.AboutContent p {
  background-color: #f1f5f8;
  padding: 20px;
}

.AboutContent h3 {
  color: #547799;
}
