.Button {
  font-size: 0.8rem;
  align-self: center;
  border-radius: 20px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}

.Button:hover:active {
  background-color: #0d96f8 !important;
}

.Button:active {
  background-color: #0d96f8 !important;
}

.Button:focus {
  background-color: #0d96f8;
}

.FormBtns {
  background-color: #547799;
}

.BtnHover {
  background-color: #547799;
  color: #ffffff;
}

.BtnHover:hover {
  background-color: #0d96f8;
}

.SubmitBtnBg {
  background-color: #547799;
  margin-top: 10px;
}
