.CommentContainer {
  background-color: #ffffff;
  margin: 2px;
  border: 1px solid #dadadf;
  border-radius: 8px;
  margin-bottom: 16px;
}

.FormTextarea {
  border: none;
  border-bottom: 2px #547799 solid;
  background-color: #f1f5f8;
}
