.DropdownIcon {
  font-size: 140%;
  cursor: pointer;
}

.DropdownItem {
  display: inline-block;
  max-width: 30%;
  padding: 0px;
  font-size: 130%;
  color: #547799;
}

.Absolute {
  position: absolute;
  right: 0;
  z-index: 99;
}

.EditProfileButtons {
  color: #49a6e9;
  text-align: center;
  font-size: 110%;
}

.EditProfileButtons:hover {
  transition: color ease-in-out 0.2s;
  color: white;
  background-color: #49a6e9;
}
