.LogoutModalHeader {
  color: #49a6e9;
}

.LogoutModalButton {
  background-color: #547799;
}

.LogoutModalButton:hover {
  background-color: #547799;
  opacity: 0.9;
}

.LogoutModalBody {
  color: #547799;
}
