.Post {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  border-radius: 8px;
  margin-bottom: 16px;
  text-align: center;
  color: #547799;
}

.PostIcons i {
  font-size: 160%;
  cursor: pointer;
  margin: 10px 5px 20px 5px;
}

.PostIcons i:hover {
  font-size: 160%;
  color: #49a6e9;
}

.LikeBookmark {
  color: #49a6e9;
}
