.Post {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  border-radius: 8px;
  margin-bottom: 16px;
  text-align: center;
  color: #547799;
}

.PostIcons i {
  font-size: 160%;
  cursor: pointer;
  margin: 10px 5px 20px 5px;
}

.PostIcons i:hover {
  font-size: 160%;
  color: #49a6e9;
}

.LikeBookmark {
  color: #49a6e9;
}

.PostTitle {
  color: #49a6e9;
  font-size: 130%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.PostUnderline {
  border-top: 2px solid #547799;
}

.PostDescription {
  color: #547799;
  font-family: "Dosis", sans-serif;
  margin-top: 20px;
  background-color: #f1f5f8ab;
  padding: 10px;
  border-radius: 5px;
  height: 175px;
  white-space: pre-wrap; 
  word-break: break-word;
}

*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
