.ContextNavBarHeight {
  min-height: 100vh;
}

.SidebarToggle {
  background-color: aqua;
  position: fixed;
  top: 2rem;
  left: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}
