.NavBarMenuIcon {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 0px;
}

.NavLinkForLargerScreens {
  color: #49a6e9;
  margin-top: 30px;
  text-align: center;
  font-size: 120%;
}

/* Devices with a width larger than 1800 pixels */
@media (min-width: 1800px) {
  .NavLinkForLargerScreens {
    margin-top: 50px;
    font-size: 200%;
  }
}

.NavLinkForLargerScreens:hover {
  transition: color ease-in-out 0.2s;
  color: #547799;
}

.NavLinkForLargerScreens i {
  font-size: 120%;
}

.ActiveLarge {
  color: #547799;
}

.NavLinksForSmallerScreens {
  text-align: center;
  font-size: 140%;
  margin-top: 15px;
  background-color: #49a6e9;
  border-radius: 20px;
  color: #ffffff;
}

.NavLinksForSmallerScreens:hover {
  transition: color ease-in-out 0.2s;
  color: #f1f5f8;
  background-color: #547799;
}

.ActiveSmall {
  color: #f1f5f8;
  background-color: #547799;
}
