.App {
  background-color: #f1f5f8;
  min-height: 100vh;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.NavBarBgColor {
  background-color: #ffffff;
}

.ContextNavBarHeight {
  padding: 20px;
  border-bottom: 1.5px solid #dadadf;
}

@media (min-width: 992px) {
  .ContextNavBarHeight {
    min-height: 100vh;
    border-right: 1.5px solid #dadadf;
  }
}
