.App {
  font-family: "DM Sans", sans-serif;
  background-color: #f1f5f8;
  min-height: 100vh;
}

.NavBarBgColor {
  background-color: #ffffff;
}

.ContextNavBarHeight {
  min-height: 8vh;
}

@media (min-width: 992px) {
  .ContextNavBarHeight {
    min-height: 100vh;
  }
}
