.App {
  background-color: #f1f5f8;
  min-height: 100vh;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.NavBarBgColor {
  background-color: #ffffff;
}

.ContextNavBarHeight {
  padding: 20px;
  border-bottom: 1.5px solid #dadadf;
  position: fixed;
  z-index: 5;
}

/* Devices with a width larger than 992 pixels */
@media (min-width: 992px) {
  .ContextNavBarHeight {
    height: 100vh;
    border-right: 1.5px solid #dadadf;
    overflow-y: auto;
  }
}

a,
a:hover {
  text-decoration: none;
}

input[type="file"] {
  display: none;
}

.Input {
  background-color: #f1f5f8;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
  border: 1.5px solid #dadadf;
}

figure {
  text-align: center;
  display: inline-block;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

.DarkBluishcColor {
  color: #547799;
}

.LightBluishcColor {
  color: #49a6e9;
}

.Link {
  text-decoration: none;
  text-align: center;
  display: block;
  margin-bottom: 20px;
  color: #49a6e9;
}

.Link span {
  color: #547799;
  border-bottom: 1px solid #49a6e9;
}

.Link span:hover,
.Link:hover {
  color: #0091f9;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #888;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
